.PrjBdy {
  color: rgb(12, 12, 12);
  text-align: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
